body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
    background-color: blue;
    align-self: unset;
    right: inherit;
    align-items: center;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 26px;
    border-radius: 13px;
}
a{
    text-decoration: none;
    color: white;
    border: 3px solid dodgerblue;
    border-radius: 15px;
    padding: 15px;
}
a:hover{
    background-color: rgb(70, 8, 67);
}